.botones-proveedores{
  padding-left: 16rem;
}

/* alinear los label en los formularios de actualizacion de datos */
div .label-actualizar{ 
  float: left;
  color:black;
}

.modal-title{
  color:black;
}


/* Dropdown de navbar */
.boton-dropdown{
  color:rgb(255, 255, 255);
  background-color: transparent;
  border:none;
  padding: 10px;
  margin-left: 20px;
  margin-right: 30px;
}

.dropdown .boton-dropdown{
  justify-content: center;
}

.dropdown {
  display: inline-block;
  position: relative;
  font-size:15px;
  z-index: 2;
}

.dropdown-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  
}
.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content a {
  display: block;
  color: #ffffff;
  background-color: rgb(33,37,41);
  padding: 8px;
  text-decoration: none;
}


.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}


/* pagina de error */
.error-404 img{
    display: block;
    margin: 0 auto;
    width:28rem; 
}

.error-404 h3{
  color:black;
  text-decoration: solid;
  font-style: italic;
}

.error-404 p{
  font-size:20px;
}

.error-404 button{
  display: block;
  margin: 0 auto;
  font-size:18px;
  
}

.error-404 a{
  text-decoration: none;
}


/* botones de las vistas de Configuracion */
.config-container{
  width: 900px;
  margin:0 auto;
}

.col .card:hover {
  background-color: #00A4BD;
  color:rgb(167, 167, 167);
}

.card .card-body i{
  font-size:30px; 
  color:black;
}

.card .card-body p{
  font-size:30px; 
  color:rgb(0, 0, 0);
}


/* Tablas de las vistas */
#datos-usuario{     font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
  font-size: 16px;   text-align: left;    border-collapse: collapse; }

#datos-usuario th {     font-size: 18px;     font-weight: normal;     padding: 8px;     background: #0184a5;
    border-top: 4px solid #0184a5;    border-bottom: 1px solid #fff; color: rgb(0, 0, 0); }

#datos-usuario td {    padding: 8px;     background: #dae2e2;     border-bottom: 1px solid #fff;
    color: rgb(47, 48, 48);    border-top: 1px solid transparent; }

#datos-usuario tr:hover td { background: #d0dafd; color: #339; }


.container-usuarios{
  margin-top: 30px;
  background-color: rgb(235, 233, 233);
}

.perfil #input-pefil{
  width: 25px;
}